.pageContentWrapper
  padding-top: 1.3em
  padding-bottom: 1em
  display: flex
  justify-content: center

  .pageContent
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    max-width: 1300px
