.registrationPage
  width: 360px
  padding: 8% 0 0
  margin: auto

.registrationForm
  font-family: "Roboto", sans-serif
  position: relative
  z-index: 1
  background: #FFFFFF
  max-width: 360px
  margin: 0 auto 100px
  padding: 45px
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.registrationForm .registrationField
  margin: 0 0 15px

.registrationForm input
  outline: 0
  width: 100%
  padding: 10px
  box-sizing: border-box
  font-size: 14px
  border: 1px solid black
  border-radius: 3px

.registrationForm .validationMessage
  color: red
  font-size: 10px


.registrationForm button
  outline: 0
  background: #3E04DE
  width: 100%
  border: 0
  padding: 15px
  color: #FFFFFF
  font-size: 14px
  cursor: pointer

.registrationForm button:active
  background: #3300BF

.registrationForm .message
  margin: 15px 0 0
  color: #6E6E6E
  font-size: 12px
  display: flex
  justify-content: center

.registrationForm .message a
  color: #3300BF
  text-decoration: none
  margin-left: 5px

