@import "src/assets/styles/variables";

.questionsListContainer {
    margin: 0px $base-margin
}

.submit {
    margin: 20px;
    text-align: end;
}

.error_message {
    margin-top: 10px;
    color: #c10000
}