.response_container {
    margin: 20px calc((100% - 800px) / 2)
}
    
.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #767676
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #767676
}

.error_message {
    color: #c10000
}