body {
  margin: 0;
  padding: 0;
  background-color: #f6f7fa;
  font-family: Raleway;
  font-size: medium;
}

#root {
  width: 100%;
  height: 100%;
  transition: background-color .4s ease-in-out;
}
