body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-size: medium;
}

body * {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
