.pageTitleWrapper
  width: 100%
  margin-top: 7.3em

  .pageTitle
    display: inline
    border-bottom: 4px solid #7F868D
    margin-left: .7em
    font-size: 1.7em
    font-family: Raleway
    font-style: normal
    font-weight: 500
    color: #7f868d
    font-weight: lighter
