.newsItemContainer {
  display: flex;
  flex-direction: row;
}

.newsItemContainer > img {
  border-radius: 5px;
  margin-right: 25px;
}

.type {
  color: #707070;
  margin: 15px 0 15px 0;
  font-size: 15px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.detailesContainer {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.mainContainer {
  margin-bottom: 10px;
  width: 100%;
}

.authorContainer {
  width: max-content;
  align-self: flex-end;
  display: flex;
  margin-bottom: 10px;
}

.authorContainer > img {
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  margin-top: 6px;
}

.date {
  color: #707070;
  font-size: 13px;
  margin-top: 5px;
}

.reactionsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px 10px 22px !important;
}

.addReaction {
  display: flex;
  height: 26px !important;
  background: #e8e8e8;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-weight: bold;
  margin-left: 3px;
  color: #666666 !important;
  cursor: pointer;
}

.emojiPicker {
  padding: -5px;
}

.icon {
  color: #666666 !important;
  margin: 0 !important;
}
