.container
    background: #FFFFFF !important
    border-radius: 8px !important
    padding: 0 10px

.highlight
    border-left: 8px solid #62658F!important
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24) !important

//.scaleTop
//    -webkit-animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
//    animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
//
//@keyframes scale-in-ver-top
//    0%
//        opacity: .1
//
//    100%
//        opacity: 1
