@import "src/assets/styles/variables";

.headerContainer {
    width: 45%;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 20px;
}

.description {
    font-size: 15px;
    font-weight: lighter;
    color: #767676;
}
