.textInput
  resize: none
  width: 100%
  padding: 5px
  border-radius: 5px
  &:focus
    outline: none
    border: black solid 1px

.sendCommentButton
  width: 100%
  display: flex
  justify-content: flex-end
