$toggle-menu-duration: .2s
$toggle-menu-timing: ease-in-out
$back-color: #aeb0b2
$active-back: #565c86
$attention-color: #606790
$lang-color: #596086

.menuWrapper
  position: fixed
  background-color: $attention-color
  height: calc(100% - 5.1em)
  margin-top: 5.1em
  border-top: #565c86 solid 2px
  z-index: 1
  transition: width $toggle-menu-duration $toggle-menu-timing
  overflow: hidden

  .menuItemTitle, .menuItemIcon
    transition: visibility $toggle-menu-duration $toggle-menu-timing
    color: #FFFFFF
    visibility: visible

  .menuContent
    display: flex
    flex-direction: column
    height: 100%

.menuLanguagesWrapper
  margin-top: auto
  ul
    background-color: $active-back
.listActive
  height: 100%

.listInactive
  height: 0

.menuItem
  font-family: Raleway
  font-style: normal
  min-width: 18em
  display: flex
  align-items: center
  font-size: 1em
  padding: 1em
  cursor: pointer
  &:hover
    background-color: $active-back

    .menuItemIcon
      transform: scale(1.1)

.menuItemIcon
  transition: all .2s ease-in-out

.menuItemTitle
  margin-left: 1.4em
  color: #717171

.menuWrapperOpen
  width: 17em

  .menuItemActive
    background-color: $active-back
    border-left: 2px solid #eaba63

.menuWrapperClosed
  width: 3.5em

  .menuItemActive
    background-color: $active-back

  .menuItemTitle
    visibility: hidden

