$toggle-menu-duration: .4s
$toggle-menu-timing: ease-out

.menuWrapper
  position: fixed
  height: 100%
  padding-top: 5em
  background-color: #e1e8ee
  z-index: 1
  transition: all $toggle-menu-duration $toggle-menu-timing
  overflow: hidden

.menuContent
  display: flex
  flex-direction: column

.menuItem
  min-width: 30em
  font-size: .9em
  padding: 1em
  cursor: pointer
  transition: all .25s ease-in-out

  .menuItemIcon:hover
    transform: scale(1.1)

.menuItemActive
  background-color: #145374
  .menuItemIcon
    color: #f6f5f5
  .menuItemTitle
    color: #f6f5f5

.menuItemIcon
  color: #145374
  transition: all .2s ease-in-out

.menuItemTitle
  margin-left: .8em
  color: #000
  transition: all $toggle-menu-duration $toggle-menu-timing

.menuWrapperOpen
  width: 13.5em

  .menuItem

    .menuItemTitle
      visibility: visible

.menuWrapperClosed
  width: 4em
  .menuItemActive
    background-color: #145374
    transform: none

    .menuItemTitle
      visibility: hidden
