.uiCardBlock
  text-align: left
  padding: 1.4em
  margin: 0
  border-bottom: 1px solid #efefef
  border-top: 1px solid #efefef

  h3
    text-align: left
    text-transform: uppercase
    font-size: 1.2em
    font-weight: bold
    color: #717171

  h4
    color: #000
    font-size: 1.1em
    font-weight: bold
    margin-bottom: 0.4em

  p
    color: #9598a1
    margin-bottom: 0.7em

  b
    color: #9497a0

