$font-color: #3E3E3E

.uiCardBlock
  text-align: left
  padding: 1.4em
  border-bottom: 2px solid #F4F6FB
  margin: 0 0 .8em
  cursor: pointer

  h3
    text-align: left
    font-weight: bold
    font-size: 1.1em
    font-family: Raleway
    font-style: normal
    font-weight: 600
    color: $font-color

  h4
    color: #000
    font-size: 1.1em
    font-weight: bold
    margin-bottom: 0.4em

  p
    color: #9598a1
    margin-bottom: 0.7em

  b
    color: #9497a0

  label
    display: block

  input[type="text"]
    display: block
    width: 25em
    max-width: 100%
    border: 1px solid #DEDEDF
    font-size: 1.1em
    padding: 0.5em 1em
    border-radius: 5px
    margin: 0.5em 0

    &:focus
      border-color: #BEBEBF

