$background-color: #F8F9FA
$background-card-color: #ffffff
$text-color: #043845

html, body
  height: 100%
  background-image: url('../../assets/images/bg-pattern.jpg')

h3
  font-size: 28px
  font-weight: bold
  text-align: center
  margin-bottom: 20px
  color: #767676


.container
    margin: 20px
    padding: 20px
    padding-bottom: 10px
    background-color: $background-card-color
    border-radius: 30px
    
    margin-left: calc((100% - 800px) / 2)
    margin-right: calc((100% - 800px) / 2)

.question
    margin-bottom: 10px !important
   