.label {
 cursor: pointer;
 width:50px;
 margin-bottom: 3px !important;
 margin-left: 3px!important;
 border-radius: 15px !important;
 color: #666666 !important;
}
.reacted{
 background: #e3e6ff !important;
 font-weight: bold !important;
 border-bottom-color: #620073!important;
 border-bottom-width: 2px !important;
 border-bottom-style: solid;
 color: #620073 !important;
}
