.uiButton
  cursor: pointer
  background-color: #ee6f57
  padding: 0.5em 1.5em
  border: none
  border-radius: 5px
  color: #fff
  min-width: 7em
  transition: background-color 0.1s
  margin-right: 1em

  &:hover
    background-color: #b62b49
  &:disabled
    background-color: #aaa5a4

.uiButtonCenter
  display: block
  margin: 0 auto

.uiButtonSecondary
  background-color: #fff
  color: #552037

  &:hover
    background-color: #ffc7d2

.uiButtonPrimary
  background-color: #145374
  color: #fff

  &:hover
    background-color: #00334e
