.uiButton
  cursor: pointer
  background-color: #ff5077
  padding: 0.5em 1.5em
  border: none
  border-radius: 5px
  color: #fff
  min-width: 5em
  transition: background-color 0.1s

  &:hover
    background-color: #b62b49
