
.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.headerUserDropDown {
  border: 2px solid transparent;
  border-radius: 50%;
}
.headerUserDropDown:hover {
  border: 2px solid #787878;
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}
