$background-color: #00334e
$white: #ffffff

.headerWrapper
  position: fixed
  z-index: 2
  background-color: $background-color
  width: 100%
  padding: .5em
  border-bottom: 2px solid #aeb0b2

  .headerContent
    display: flex
    justify-content: space-between
    align-items: center

    .headerPart
      display: flex
      justify-content: space-between
      align-items: center

      .headerTitle
        margin-right: 1em
        color: $white
        display: flex
        justify-content: space-between
        align-items: center
        cursor: pointer

        .headerServiceName
          font-size: 1.5em

        .headerLogo
          width: 2.2em
          filter: contrast(1.4)
          height: 2.2em
          margin: 0 .6em

      .headerMenuItem
        font-size: 0.9em
        cursor: pointer
        font-weight: bold
        margin: 0 1.5em
        color: $white
        border-bottom: 1px solid $background-color
        transition: border-bottom-color 0.3s

        &:hover
          border-bottom-color: $white

      .headerMenuItemActive
        border-bottom-color: $white

      //.headerSearchWrapper
      //  padding: 0.15em 0.3em
      //  border: 1px solid $white
      //  border-radius: 5px
      //
      //  .headerSearchIcon
      //    color: #fff
      //    margin-left: 0.5em
      //    cursor: pointer
      //
      //  .headerSearch
      //    padding: 0.4em
      //    width: 17em
      //    font-size: 0.8em
      //    background-color: $background-color
      //    border: none
      //    color: $white

      .headerBellWrapper
        margin: 0 2em 0 10em
        position: relative
        cursor: pointer

      .headerAvatar
        cursor: pointer
        height: 2.4em
        margin-right: 2em
        width: 2.4em
