.noItemsLabel
  margin-top: 1em
  text-align: center

.teams_page
  display: flex
  flex-direction: column
  justify-content: center

.twoColumnList
  flex-wrap: wrap
  display: flex
  justify-content: center

.customCard
  width: 500px !important

.page_header
  display: flex
  justify-content: space-between
  margin-bottom: 10px
  align-items: center

.form_container
  padding: 16px
  max-width: 400px

.submit_button
  margin-top: 10px !important

.teamHeader
  align-self: center
  vertical-align: center
  font-size: 2.5rem !important
  font-weight: bolder
  margin-bottom: 0
  color: #767676 !important

