
$background-color: #F8F9FA
$background-card-color: #ffffff
$aside-width: calc((100% - 800px) / 2)
$text-color: #043845

html, body
  height: 100%
  background-color: $background-color

h1
  font-size: 32px
  font-weight: bold
  text-align: center
  margin-bottom: 20px
  color: $text-color

.content
  margin-left: $aside-width
  margin-right: $aside-width
  padding-top: 50px
  padding-bottom: 50px

  i
    cursor: pointer
    color: #2a89d4
    transition: color 0.1s
    font-size: 1.3em
    margin: 0 0.5em

    &:hover
      color: #104c7b

.centerContent
  display: flex
  justify-content: center
  align-items: center

.questionnairesContainer
  color: $text-color

.questionnaire
  display: flex
  align-items: center
  justify-content: space-between
  padding: 15px
  min-height: 70px
  border: 1px solid #41abff
  margin: 12px
  border-radius: 10px
  background-color: $background-card-color

  h3
    font-size: 1.5em
    margin-bottom: 0.3em

    &:hover
     background-color: #fafeff

.addBlock
  display: flex
  justify-content: center

.modalError
  padding: 1em
  margin: 1em
  background-color: #ff9686
  color: #fff
  text-align: center
