
.addBlock
  display: flex
  justify-content: center

.modalError
  padding: 1em
  margin: 1em
  background-color: #ff9686
  color: #fff
  text-align: center

.cardBlockWrapper
  display: flex
  justify-content: space-between

  h3
    margin-bottom: 0

  .cardIconWrapper
    display: flex
    justify-content: space-around

    .cardIcon
      cursor: pointer
      font-size: 1.3em
      color: #FB8677
      margin: 0 1em

      &:hover
        color: #b62b49
