.listItem
  display: flex

  padding: 15px
  min-height: 70px
  border: 1px solid #F5F5F5
  border-radius: 10px
  width: 100%
  margin-bottom: 1em
  background-color: #fff

  .buttonContainer
    display: inline-flex
    align-self: center
    margin-left: auto

  .button
    margin-left: 20px

  .userImage
    margin-right: 15px

  .info
    justify-content: space-between

    .paginationListItemDescription
      color: #777

    .paginationListItemHeader
      text-align: left
      font-size: 1.5em
      margin-bottom: 0.3em
      font-family: inherit

    &:hover
      background-color: #fafeff

.searched
  background-color: #aab7ff40 !important
