.yesNoHeader
  span
    margin-left: 20px

.option
  padding-left: 20px
  padding-right: 20px
  padding-bottom: 6px
  cursor: pointer
  color: rgb(169, 169, 169)
  border-bottom: 2px solid rgb(169, 169, 169)
  transition: border-bottom 0.2s, color 0.2s

  &:hover
    color: #1A0EDA
    border-bottom: 2px solid #1A0EDA


.selected
  color: #1A0EDA
  border-bottom: 2px solid #1A0EDA

.selectHeader
  height: 60px

.separator
  padding-left: 5px
  padding-right: 5px
  padding-bottom: 6px
  color: rgb(100, 100, 100)
  border-bottom: 2px solid transparent

.deadlineDate
  font-weight: bold
  height: 20px


