.sectionCard
    margin-bottom: 10px

input[type="text"]
    outline: 0;
    border-width: 0 0 2px;
    border-color: #d4d4d5;
    width: 100%

    &:focus
        border-color: #6098c1

.title
    font-size: 30px
    margin-bottom: 8px

.description
    font-size: 18px