@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

.sectionCard
  margin-bottom: 10px !important
  background: #FFFFFF !important
  position: relative
  box-sizing: border-box !important
  border-radius: 8px !important
  padding: 24px
  border-top: 8px solid #62658F!important

  input[type="text"]
    outline: 0 !important
    width: 100%
    border-color: white

    &:focus
      border-width: 0 0 2px
      border-color: rgba(98,101,143,0.69)

.title
  font-size: 32px
  font-weight: 400
  margin-bottom: 8px

.description
  margin-top: .5em

.buttonContainer
  position: absolute
  top: 10px
  right: 10px

  button
    background-color: transparent
    border: none
    border-radius: 50% 50%
    height: 30px
    width: 30px
    color: #747474
    cursor: pointer

    &:hover
      background-color: #e8e8e8

    &:focus
      outline: 0
